<!DOCTYPE html>
<html>
  <head>
    <title>Introduccion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "miestilo", "data-turbo-track": "reload" %>
  
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <h1>ESTO ES UN MENU</h1>
    <ul>
        <li>HOME</li>
        <li>NOSOTROS</li>
        <li>CONTACTO</li>
    </ul>

  
    <%= yield %>
  


    <h1>ESTO ES UN PIE DE PÁGINA</h1>
    <h2>Esto es un contenido del pie</h2>
    <h3>Esto es un subcontrenido del pie</h3>
  
  
  </body>
</html>
